@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Handlee&family=Open+Sans&display=swap');
#fake{
    color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caveat';
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
.navbar a{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 23px;
    font-family: 'Handlee';
}
.navbar a:hover{
    color: gold;
}
.navbar-header{
    position: relative;
    left: 10%;
    text-align: center;
    top: 0%;
    margin-left: -5px;
}
#navstyle li{
    padding-right: 2rem;
    padding-left: 2rem;
}

@media screen and (min-width: 600px){
    .navbar-nav{
        float: none;
        justify-content: center;
        text-align: center;
    }
    .navbar-nav li{
        display: inline-block;
        float: none;
    }
}
@media screen and (max-width: 600px){
    .navbar-nav{
        float: left;
        justify-content: center;
        text-align: center;
    }
    .navbar-nav li{
        display: inline-block;
        float: none;
    }
}

.LandingSection{
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 91%;
    
}
.LandingSection h1, h4{
    font-family: 'Handlee', cursive;
}
.banner{
    display: flex;
    align-content: space-between;
    justify-content: center;
    text-align: justify;
}
.banner-text{
    padding: 0;
    margin:  auto ;
    text-align: center;
    text-transform: uppercase;
}
.banner-text h1:hover{
    color: gold;;
}
.banner-img{
    margin-left: auto;
    margin-right: 0;
}
.social-links {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.social-links ul{
    list-style-type: none;
}
.social-links ul li{
    display: inline-block;
}
.social-links a{
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    color:white;
}
#insta a:hover{
     color: #bc2a8d	;
}
#github a:hover{
    color: #F4CBB2;
}
#facebook a:hover{
    color: #4267B2;
}
#linkedin a:hover{
    color: #0e76a8;
}
#twitter a:hover{
    color: #00acee;
}